
body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 20px;

}

h1{
  color: #00587a;
  font-size: 5.625rem;
  margin-top: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  padding-bottom: 10px;

}

h2{
  color: #7c3c21;
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
}

h3{
  color: #006400;
  font-family: 'Montserrat', sans-serif;
}

.top-container{
  background-color: #ffd5cd;
  position: relative;
  padding-top: 100px;
}

.middle-container{
     margin: 100px 0;
}

.bottom-container{

     background-color: #ffd5cd;
     padding: 50px 0 20px;
}

a
{
  color: #f65c78;

  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #222831;
}

.copyright{
  color: #222831;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud{
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.pic{
  width: 20%;
  height: auto;
}

.Web{
  width: 20%;
  height: auto;
  float: left;
}

.Creativity{
  width: 20%;
  height: auto;
  float: right;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;

}

.intro{
  width: 30%;
  margin: auto;

}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  -webkit-border-radius: 21;
  -moz-border-radius: 21;
  border-radius: 21px;
  -webkit-box-shadow: 0px 0px 0px #666666;
  -moz-box-shadow: 0px 0px 0px #666666;
  box-shadow: 0px 0px 0px #666666;
  font-family: Georgia;
  color: #0a0a0a;
  font-size: 20px;
  background: #c3aed6;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #05dfd7;
  text-decoration: none;
}
